:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    --gray: #cdcdcd;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 2em;
}
.container {
    width: 60vw;
    min-width: 600px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-text {
    font-size: 3em;
}
.cash-register {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    padding: 20px;
}
.screen {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: var(--gray);
    padding: 5px;
    display: flex;
}
.cid-container {
    font-family: "Courier New",  monospace;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.cid {
    width: 50%;
    font-size: 1.5em;
}
.cid-header {
    text-align: center;
    padding-bottom: 1em;
}
.drawer {
    width: 50%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: darkgray;
    padding: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1em;
}
#cash, #total {
    height: 2em;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    aspect-ratio: 1/1;
    gap: 1em;
}
#purchase-btn {
    grid-column: 1 / -1;
}
.base {
    width: 20vw;
    min-width: 200px;
    aspect-ratio: 16/3;
    background-color: black;
}
